<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
        <add name ="kucni" connectionString="Data Source = DESKTOP-1LGKA15\MSSQLSERVER08; Initial Catalog = ednevnik; Integrated Security = true"/>
  </connectionStrings>
</configuration>